<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.walterlp.rpgclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.orm.SugarApp"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.activity.ui.MainActivity"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.ui.CadastroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.activity.ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <meta-data android:name="DATABASE" android:value="class_app.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.walterlp.rpgclass.activity.activity.model" />
    </application>

</manifest>